* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  background-color: aqua;
}
h1 {
  width: 13em;
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
}
h2 {
  color: green;
  background-color: rgb(137, 237, 225);
}
p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
li {
  list-style: square;
  color: blanchedalmond;
  background-color: black;
}
.recipe-image {
  width: 23em;
  height: auto;
  margin: 0 auto;
  display: block;
  border: black solid;
  border-radius: 50px;
}
