.header {
  background-color: rgb(188, 255, 187);
  font-size: 50px;
  color: brown;
  text-align: center;
}
.recipes-list {
  background-color: blueviolet;
  font-size: 20px;
}
a {
  color: yellow;
  text-decoration: none;
}
